*{
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
    background-image:url('https://cdn.pixabay.com/photo/2017/08/10/06/06/controller-2618897_960_720.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
}
div p {
  font-size: 26px;
  color: F15025;
  padding: 5px;
}
 #projects a{
  color: white;
  font-size: 26px;
}
.row {
  display: flex;
/*  border: 1px solid red; */
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
}
.column {
  flex-direction: column;
  display: flex;
  width: 45%;
  padding: 10px;
  text-align: justify;
/*  border: 1px solid blue;*/
}
h1 {
  font-size: 68px;
  color: #F15025;
  display: inline;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  color: #F15025;
  padding: 10px;
}
h3 {
  font-style: italic;
  font-size: 28px;
  color: #F15025;
  padding: 10px 5%;
}
p {
  font-size: 14px;
  color: #F15025;
}
#header {
  background-color: #293132;
}
#header .headshot{
  float: left;
  padding: 10px;
  width: 200px;
}
#bio,
#projects,
#skills,
#contactInfo {
  text-align:center;
  margin-bottom: 100px;
}
ul {
  list-style-type: none;
}
img {
  padding: 10px;
}
span {
  font-size: 26px;
  color: #FC9E4F;
  padding: 10px;
  background: rgba(45, 45, 45, 0.4);
  line-height: 1.8;
  text-align: left;
  }
/* Media queries to handle various device widths */
@media only screen and (max-width:900px) {
  #header .headshot {
    width: 175px;
  }
}
@media only screen and (max-width: 750px) {
  #header .headshot {
    display: none;
  }
  .column {
    width: 100%;
  }
}
